[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
